@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #eee;
  font-family: 'Poppins', sans-serif;
}

.sidebar{
  width: 17rem;
  height: 100%;
  background-color: #fff;
  padding:1rem;
  transition: all 0.3s linear;
}

.sidebar_top{
  width: max-content;
  display: flex;
  align-items:center;
  gap: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #e5e7eb;
}

.sidebar_logo{
  width:3.4rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 1rem;
}

.sidebar_logo_name{
  font-weight: 700;
  font-size: 1.2rem;
}

.sidebar_list{
  list-style: none;
}

.sidebar_link{
  display: inline-block;
  font-size: 1rem;
  text-decoration: none;
  color: #000;
  padding: 0.8rem 1rem;
  display: flex;
  background-color: #f3f4f6;
  margin-bottom: 1rem;
  border-radius: 0.8rem;
}

.sidebar_icon{
  font-size: 1.2rem;
  display: inline-block;
}

.sidebar_name{
  margin-left: 0.5rem;
}